<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="topbar" class="topbar">
  <link rel="stylesheet" th:href="@{/main.css}">

  <div class="nav-wrap">
    <div class="brand">
      <a th:href="@{/results}" style="color: white; text-decoration: none;">Vista</a>
    </div>

    <nav class="nav">
      <a th:href="@{/results}">
        <img th:src="@{/assets/icons/stays.svg}" alt="Stays" class="nav-icon" />
        Stays
      </a>

      <a href="#">
        <img th:src="@{/assets/icons/transport.svg}" alt="Transport" class="nav-icon" />
        Transport
      </a>

      <a href="#">
        <img th:src="@{/assets/icons/attractions.svg}" alt="Attractions" class="nav-icon" />
        Attractions
      </a>

      <a href="#">
        <img th:src="@{/assets/icons/eats.svg}" alt="Eats" class="nav-icon" />
        Eats
      </a>
    </nav>
  </div>

  <div class="nav-right">
    <a th:href="@{/guest-bookings}" class="mini-pill">Bookings</a>

    <a th:href="@{/properties}" class="mini-pill">Properties</a>

    <a th:href="@{/login}" class="mini-pill" sec:authorize="isAnonymous()">Login</a>

    <a th:href="@{/profile}" class="user-chip" sec:authorize="isAuthenticated()">
<!--      <img th:src="@{/assets/defaultpfp.png}" alt="avatar" />-->
      <img th:src="${user?.profileImageUrl != null ? user.profileImageUrl : '/assets/defaultpfp.png'}"
           alt="Profile Picture"
           style="width:60px; height:60px; border-radius:50%;">

      <span th:text="${user?.firstName != null ? user.firstName : 'User'}">User</span>
    </a>

    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" style="margin: 0;">
      <button class="mini-pill" type="submit">Logout</button>
    </form>
  </div>
</header>

</body>
</html>